.styledCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styledCheckbox input {
  display: none; 
}

.styledCheckbox span.styledDot {
  width: 12px; 
  height: 8px; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3c3d3d;
  cursor: pointer;
  border-radius: 18px;
}

.styledCheckbox input:checked + span.styledDot {
  background-color: #d14508;
}

